@import "tailwindcss";
@plugin "./hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@layer base {
  .font-doto {
    font-family: var(--font-doto), ui-sans-serif, system-ui, sans-serif;
  }
  
  .font-montserrat {
    font-family: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  }
  
  .font-ubuntu {
    font-family: var(--font-ubuntu), ui-sans-serif, system-ui, sans-serif;
  }
  
  .font-sixtyfour {
    font-family: var(--font-sixtyfour), ui-sans-serif, system-ui, sans-serif;
  }

  .font-melodrama {
    font-family: var(--font-melodrama), ui-sans-serif, system-ui, sans-serif;
  }
}