---
import {Image} from "@heroui/react";
---
<div class="relative w-full h-[764px] overflow-hidden place-content-center">
    <img src="/images/pic_ski_2425-22.jpg" alt="Fachschaft EIT" class="blur-md brightness-50 w-full h-full object-cover opacity-100" />
    <div class="select-none absolute inset-0 flex items-center justify-center">
        <h1 class="text-white text-5xl md:text-7xl lg:text-[120px] font-hero font-bold">
            Fachschaft EIT
        </h1>
    </div>
</div>
